
*.exe
build-SimpleRasterize-Desktop_Qt_5_10_1_MSVC2017_64bit-Debug
build-SimpleRasterize-Desktop_Qt_5_10_1_MSVC2017_64bit-Release
.vs
x64
debug
release
SimpleRasterize.vcxproj.user
SimpleRasterize.vcxproj.user
SimpleRasterize.vcxproj.user
SimpleRasterize.vcxproj.user
SimpleRasterize.vcxproj.user
SimpleRasterize.vcxproj.user
